body {
    background-image: url("bonobono.jpg");
  }

span {
    font-family: Arial, Helvetica, sans-serif;
	animation: rainbow 0.5s;
    animation-iteration-count: infinite;
    font-size:184.5px;


}
i {
    font-family: Arial, Helvetica, sans-serif;
	animation: rainbow 0.5s;
    animation-iteration-count: infinite;
    font-size:170px;

}
pre {
    font-family: Arial, Helvetica, sans-serif;
	animation: rainbow 0.5s;
    animation-iteration-count: infinite;
    font-size:184.5px;

}
a {
    font-family: Arial, Helvetica, sans-serif;
	animation: rainbow 0.5s;
    animation-iteration-count: infinite;
    font-size:184.5px;

}
p {
    font-family: Arial, Helvetica, sans-serif;
	animation: rainbow 0.5s;
    animation-iteration-count: infinite;
    font-size:20px;

}

@keyframes rainbow{
    100%,0%{
        color: rgb(255,0,0);
    }
    8.3%{
        color: rgb(255,127,0);
    }
    16.6%{
        color: rgb(255,255,0);
    }
    25%{
        color: rgb(127,255,0);
    }
    33.3%{
        color: rgb(0,255,0);
    }
    41.6%{
        color: rgb(0,255,127);
    }
    50%{
        color: rgb(0,255,255);
    }
    58.3%{
        color: rgb(0,127,255);
    }
    66.6%{
        color: rgb(0,0,255);
    }
    75%{
        color: rgb(127,0,255);
    }
    83.3%{
        color: rgb(255,0,255);
    }
    91.6%{
        color: rgb(255,0,127);
    }
}

a:link {

    background-color: transparent;
    text-decoration: none;
  }

  a:visited {

    background-color: transparent;
    text-decoration: none;
  }

  a:hover {
    background-color: transparent;
    text-decoration: none;
  }

 audio {
    width: 300px;
    height: 40px;
    border: 2px solid transparent;
    background-color: transparent;
    border-radius: 10px;
    padding: 5px;
    outline: none;
}

/* Style the surrounding container (optional) */
.audio-container {
    margin: 0px;
    padding: 0px;
    background-color: transparent;
    border-radius: 0px;

    display: inline-block;
}
  a:active {
    background-color: transparent;
    text-decoration: none;
  }

  .moving-text {
    width: 200px;
    height: 50px;
    background-color: transparent;
    color: black;
    text-align: center;
    animation: move 2.4s linear infinite;
  }
  .audio {
    width: 200px;
    height: 50px;
    background-color: transparent;
    color: black;
    text-align: center;
    animation: audio 2.4s linear infinite;
  }
  .fastmoving {
    width: 200px;
    height: 50px;
    background-color: transparent;
    color: black;
    text-align: center;
    animation: fastmove 0.4s linear infinite;
  }
  .premove {
    width: 200px;
    height: 50px;
    background-color: transparent;
    color: black;
    text-align: center;
    animation: fastmove 1s linear infinite;
  }
  .clickplay{
    width: 200px;
    height: 50px;
    background-color: transparent;
    color: black;
    text-align: center;
    animation: ymove 0.25s linear infinite;
  }
  .bonobono{
    width: 200px;
    height: 50px;
    background-color: transparent;
    color: black;
    text-align: center;
    animation: ymove2 0.1s linear infinite;
  }
  .bonobono2{
    width: 200px;
    height: 50px;
    background-color: transparent;
    color: black;
    text-align: center;
    animation: xmove2 0.03s linear infinite;
  }
  .xmove{
    width: 200px;
    height: 50px;
    background-color: transparent;
    color: black;
    text-align: center;
    animation: xmove 0.1s linear infinite;
  }

  @keyframes move {
    0% {
      transform: translateX(-50px);
    }
    50% {
      transform: translateX(1286px);
    }
    100% {
      transform: translateX(-50px);
    }
  }

  @keyframes fastmove {
    0% {
      transform: translateX(-50px);
    }
    50% {
      transform: translateX(815px);
    }
    100% {
      transform: translateX(-50px);
    }
  }
  @keyframes ymove {
    0% {
      transform: translateY(-60px);
    }
    50% {
      transform: translateY(60px);
    }
    100% {
      transform: translateY(-60px);
    }
  }
  @keyframes ymove2 {
    0% {
      transform: translateY(-30px);
    }
    50% {
      transform: translateY(30px);
    }
    100% {
      transform: translateY(-30px);
    }
  }
  @keyframes xmove {
    0% {
      transform: translateX(-20px);
    }
    50% {
      transform: translateX(20px);
    }
    100% {
      transform: translateX(-20px);
    }
  }
  @keyframes xmove2 {
    0% {
      transform: translateY(-40px);
    }
    50% {
      transform: translateY(40px);
    }
    100% {
      transform: translateY(-40px);
    }
  }
  @keyframes audio {
    0% {
      transform: translateX(-50px);
    }
    50% {
      transform: translateX(1286px);
    }
    100% {
      transform: translateX(-50px);
    }
  }
